


.report{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.report-list {
    list-style-type:upper-roman;
}
.report-h1{
    font-size: 26px;
    font-weight: bold;
}
.report-section{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: normal;
}

.view-notebook-link{
    font-size: 12px;
}

h4 {
    background-color: #ececec;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

pre:before {
    content: '\f462';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    background: #e74f4e;
    color: #fff;
    font-family: "Genericons";
    font-size: 16px;
    text-align: center;
}

pre {
    position: relative;
    overflow: auto;
    padding: 24px;
    padding-left: 48px;
    margin-bottom: 24px;
    max-width: 100%;
    border: 1px solid #d2cfcf;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -ms-word-wrap: normal;
    word-wrap: normal;
    background: #f1f0f0;
    font-family: "Droid Sans Mono", monospace;
}


.CodeMirror {
    font-family: Cousine, Menlo, Monaco, Courier, monospace;
    font-size: 11px;
    background-color: #ffffff;
    line-height: 18px;
    border-radius: 2px;
    /*margin: 10px 0;*/
    height: 275px;
    -webkit-box-shadow: 0px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0px 1px rgba(0,0,0,.1);
    box-shadow: 0px 1px rgba(0,0,0,.1);
    margin-top: 0px;
}

.text-clipboard {
    display: block;
    width: 100%;
    height: 275px;
    resize: none;
    font-family: Cousine, Menlo, Monaco, Courier, monospace;
    font-size: 11px;
}

.paste-box {
    border: 3px dashed #DDD;
    border-radius: 2px;
    margin-right: 10px;
}

.drop-box {
    background: transparent;
    border: 3px dashed #DDD;
    height: 275px;
    text-align: center;
    padding: 0px;

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    border-radius: 2px;

    cursor: pointer;
}

.drop-box:hover a {
    color: #444;
}

